body {
  background-color: #b9e0ff;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-div {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 42vw;
  width: 40vw;
  border-radius: 15px;
  overflow: hidden;
  gap: 0.9vw;
}

.header-titulo {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #186aa9;
  height: 5.8vw;
  width: 100%;
}

.contenedor-input {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  height: 4vw;
}

.input-tarea {
  width: 25vw;
  border: 1px solid #186aa9;
  background-color: #e2f1fc;
  color: #186aa9;
  outline: none;
  border-radius: 8px;
}

.btn-agregar {
  background-color: #186aa9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contenedor-tareas {
  border: 2px solid #186aa9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:baseline;
  height: 25vw;
  width: 85%;
  overflow: hidden;
  gap: 0.5em;
}

.contenedor-botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Responsive Design */
@media screen and (max-width: 800px) {
  .main-div {
    height: 82vh;
    width: 90vw;
    gap: 2vw;
    padding-bottom: 1vw;
  }

  .header-titulo {
    font-size: 1.5rem;
    height: 12vw;
  }

  .contenedor-input {
    height: 8vw;
    gap: 2vw;
  }

  .input-tarea {
    width: 60vw;
  }

  .contenedor-tareas {
    height: 50vh;
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .main-div {
    height: 80vh;
    width: 95vw;
    gap: 4vw;
  }

  .header-titulo {
    font-size: 1.2rem;
    height: 18vw;
  }

  .contenedor-input {
    flex-direction: column;
    height: auto;
    gap: 3vw;
    padding: 2vw;
  }

  .input-tarea {
    width: 80vw;
    height: 10vw;
    font-size: 1rem;
  }

  .btn-agregar {
    width: 20vw;
    height: 8vw;
  }

  .contenedor-tareas {
    height: 45vh;
    width: 90%;
  }
}
